
<footer>

    <div class="column-3-footer">

        <div class="about">
            <h3>A propos</h3>
            <p>ProClean PRESSING, une référence en matière de nettoyage de vêtements. Leur expertise, combinée à des méthodes respectueuses de l'environnement, garantit des résultats impeccables. Profitez d'un service de qualité et d'un engagement envers l'écologie.</p>

            <div class="social-icon">
                <a target="_blank" href="https://fr-fr.facebook.com/"><img src="./assets/INC/IMG/Icones/facebook.png" alt=""></a>

                <a target="_blank" href="https://www.instagram.com/"><img src="./assets/INC/IMG/Icones/instagram.png" alt=""></a>

                <a target="_blank" href="https://www.linkedin.com/"><img src="./assets/INC/IMG/Icones/logo-linkedin.png" alt=""></a>
            </div>
        </div>

        <div class="nav-footer">
            <a routerLink="/">Accueil</a>
            <a routerLink="/tarifs">Tarifs</a>
            <a routerLink="/depot-articles">Déposer vos articles</a>
            <a routerLink="/contact">Contact</a>
        </div>

        <div class="icon-footer">

            <h3>Paiements acceptés</h3>

            <div class="paiement-icon">
                <img src="./assets/INC/IMG/Logo/cb.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="brand-copyright">
        <p>ProClean PRESSING © 2023 |</p>
        <a href="#">Mentions légales</a>
        <span> - </span>
        <a href="#">Politiques de confidentialités</a>
    </div>
    
</footer>