<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">
        <h1>Détails Commande n° {{ order.id }}</h1>

        <p>Créé le {{ order.createdDate | date: "dd/MM/YYYY" }}</p>

        <p>Prix {{ order.totalPrice | currency: 'EUR' }}</p>

        <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Article</th>
                <th>Quantité</th>
                <th>Services</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemSelection of order.selection; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ itemSelection.articleData.name }}</td>
                <td>{{ itemSelection.quantity }}</td>
                <td>
                  <ng-container *ngIf="itemSelection.services.length > 1; else singleService">
                    <p *ngFor="let service of itemSelection.services">- {{ service.name }}</p>
                  </ng-container>
                  <ng-template #singleService>
                    - {{ itemSelection.services[0].name }}
                  </ng-template>
                </td>
                <td>{{ itemSelection.itemTotalPrice | currency: 'EUR' }}</td>
              </tr>
            </tbody>
          </table>
          
        

        <h2>Infos Client</h2>

        <p>{{ order.userId.id }}</p>
        <p>{{ order.userId.email }}</p>
        <p>{{ order.userId.firstname }} {{ order.userId.lastname }}</p>
        <p>{{ order.userId.adresse }}</p>

        <button routerLink="/admin/commandes" class="main-btn">Revenir à la liste</button>
    </div>
</div>
