<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">
        <h1>Détails Commande n° {{ order.id }}</h1>

        <p>Créé le {{ order.createdDate | date: "dd/MM/YYYY" }}</p>

        <p>Prix {{ order.totalPrice | currency: 'EUR' }}</p>

        <h2>Infos Client</h2>

        <p>{{ order.userId.id }}</p>
        <p>{{ order.userId.email }}</p>
        <p>{{ order.userId.firstname }} {{ order.userId.lastname }}</p>
        <p>{{ order.userId.adresse }}</p>
    </div>
</div>
