    <!--Qui sommes nous ? SECTION-->
    
    <div class="title-container-half">
        <h2 class="blue-title">Qui sommes nous ?</h2>
    </div>

    <div class="main-container-text-img" id="first-main-container-text-img">

        <div class="container-text">
            <p>Nous sommes Bernard et Laetitia les propriétaires d'un  pressing établi depuis de nombreuses années. </p>
                <br>

                <p>Notre entreprise offre une gamme complète de services de nettoyage à sec et de blanchisserie pour les vêtements et les articles textiles. Nous nous engageons à fournir des services de haute qualité et à satisfaire les besoins de nos clients.</p>
                 <br>
                <p>Notre pressing dispose d'équipements modernes et de technologies avancées pour assurer un nettoyage efficace et respectueux des tissus. Nous utilisons des produits de nettoyage de qualité supérieure qui sont respectueux de l'environnement.</p>
                
                <br>
                <p>En plus du nettoyage à sec traditionnel, nous proposons également des services de repassage, de retouches et de réparations pour les vêtements. Notre équipe de professionnels expérimentés est compétente dans le traitement des tissus délicats et des vêtements de haute couture.</p>
                
            
        </div>

        <div class="container-img">
            <img src="./assets/INC/IMG/Accueil/premium_photo-1682129242439-952d7d2e7902.png" alt="">
        </div>
    </div>

    <div class="main-container-text-img">

        <div class="container-img">
            <img src="./assets/INC/IMG/Accueil/photo-1520434901111-8e9bcb42c628.png" alt="">
        </div>

        <div class="container-text">

            <p>Nous accordons une grande importance à la satisfaction de nos clients et veillons à fournir un service personnalisé et attentionné. Nous sommes connus pour notre rapidité d'exécution, notre fiabilité et notre professionnalisme.</p>
            
                <br>
                <p>Nous sommes fiers de la réputation solide que nous avons établie dans la communauté locale. Nous entretenons de bonnes relations avec nos clients réguliers et sommes toujours ouverts à accueillir de nouveaux clients.</p>
                <br>
                <p>En tant que propriétaires d'une entreprise de pressing prospère, nous continuons de suivre les dernières tendances et innovations de l'industrie pour offrir les meilleurs services possibles à nos clients.</p>
                
            
        </div>
    </div>

    <div class="title-container-full">
    <h2 class="blue-title">Nos engagements</h2>
    </div>

    <div class="column-3-container">

        <div class="commitment">
            <img src="./assets/INC/IMG/Logo/serviceClient.png" alt="">
            <h3>Service client exeptionnel</h3>
            <p>Chez nous, le service client est primordial. Nous accordons une attention particulière aux besoins et aux préférences individuelles de chaque client. Nos interactions sont amicales et professionnelles, notre communication est claire et nous prenons en compte les demandes spéciales. En cas de problème, nous nous efforçons de résoudre rapidement et efficacement la situation. Notre objectif est de créer une expérience client agréable et mémorable à chaque visite dans notre pressing.</p>
        </div>

        <div class="commitment">
            <img src="./assets/INC/IMG/Logo/images.jpg" alt="">
            <h3>Respect de l'écologique</h3>
            <p>En tant que pressing engagé, notre priorité est de respecter l'environnement. Nous utilisons des produits de nettoyage écologiques et des méthodes respectueuses de l'environnement, minimisant ainsi l'utilisation de produits chimiques agressifs. Nous adoptons également des pratiques de gestion des déchets appropriées pour réduire notre impact environnemental.</p>
        </div>

        <div class="commitment">
            <img src="./assets/INC/IMG/Logo/qualité.png" alt="">
            <h3>Qualité du service</h3>
            <p>Nous nous engageons également à fournir un service de qualité exceptionnelle à nos clients. Chaque vêtement est traité avec le plus grand soin, garantissant un nettoyage soigné et un repassage de haute qualité. De plus, nous respectons les délais de livraison afin que nos clients reçoivent leurs articles dans un état impeccable et à temps.</p>
        </div>
    </div>
