<div class="main-testimonial-container">
        
    <div class="wave-container">
        <svg class="wave-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#63A4C7" fill-opacity="1" d="M0,128L80,160C160,192,320,256,480,245.3C640,235,800,149,960,128C1120,107,1280,149,1360,170.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </svg>
        <div class="patch-wave-img"></div>
    </div>
        

    <div class="testimonial-container">

        <div class="testimonial-left">
            <h3>Ce que les gens pensent de nous</h3>
            <img src="./assets/INC/IMG/Logo/logo-light.png" alt="">
        </div>

        <div class="testimonial-card">

            <img class="left-arrow" src="./assets/INC/IMG/Icones/fermer.png" alt="">

            <div class="text">
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae debitis doloribus laboriosam, nostrum porro natus necessitatibus harum nulla animi voluptate quidem impedit quia sint vitae obcaecati dolore eos repudiandae."</p>

                <div class="author">
                    <p>John Doe</p>
                    <img src="./assets/INC/IMG/Icones/fermer.png" alt="">
                    <img class="img-author" src="./assets/INC/IMG/Couple/couple.png" alt="">
                </div>
            </div>

            <img src="./assets/INC/IMG/Icones/fermer.png" alt="" class="right-arrow">

        </div>
    </div>
</div>