<p>create-article works!</p>

<form [formGroup]="createArticle" (ngSubmit)="onSubmit()" >
    <div>
        <label for="">Nom</label>
        <input formControlName="name" type="text">
    </div>

    <div>
        <label for="">Prix</label>
        <input formControlName="price" type="number">
    </div>

    <div>
        <label for="description">Description</label>
        <textarea formControlName="description" id="" cols="30" rows="10">Décrivez l'article.</textarea>
    </div>

    <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="">
    </div>

    <button class="btn btn-primary">Envoyer</button>
</form>

<button routerLink="/admin/articles" class="main-btn">Revenir à la liste</button>