<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">

        <div class="order-nav">

            <div [class.btn-order-nav-clicked]="!isCliked" (click)="displayList()" class="btn-order-nav">
                <img src="../../../assets/INC/IMG/Icones/liste-a-puces.png" alt="">
                <button>Liste</button>
            </div>

            <div [class.btn-order-nav-clicked]="isCliked" (click)="displayCalendar()" class="btn-order-nav">
                <img src="../../../assets/INC/IMG/Icones/calendrier.png" alt="">
                <button>Calendrier</button>
            </div>
            
        </div>

        <h1>Commandes - {{ title }}</h1>

        <div *ngIf="title === 'Liste'" class="table-container">
            <table>
                <thead>
                    <tr>
                        <th> </th>
                        <th>ID</th>
                        <th>Date de dépot</th>
                        <th>Date de retrait</th>
                        <th>Type de paiement</th>
                        <th>Total</th>
                        <th>ID Client</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>
                            <a routerLink="/admin/commandes/{{ order.id }}"><img class="admin-icon-eye" src="../../../assets/INC/IMG/Icones/oeil.png" alt=""></a>
                        </td>
                        <td>
                            <a routerLink="/admin/commandes/{{ order.id }}">{{ order.id }}</a>
                        </td>
                        <td>{{ order.depositDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.retrievalDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.paymentType }}</td>
                        <td>{{ order.totalPrice | currency: 'EUR' }}</td>
                        <td>
                            <a routerLink="/admin/commandes"> {{ order.userId.id }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div *ngIf="title === 'Calendrier'" class="custom-calendar-container">

        <div  id="calendar-container">
            <div id="cal-buttons">
                <div id="cal-date-nav-buttons">
                    <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Précédent</button>
                    <button id="today" mwlCalendarToday [(viewDate)]="viewDate" >Aujourd'hui</button>
                    <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">Suivant</button>
                </div>

                <div id="cal-date-field">{{ viewDate | date: 'MMMM YYYY'}}</div> 
                <!-- {{ viewDate | calendarDate:(view + 'viewTitle') : 'en'}} -->

                <div id="cal-view-nav-buttons">
                </div>
            </div>



            <span [ngSwitch]="view">
                <mwl-calendar-month-view 
                    *ngSwitchCase="CalendarView.Month" 
                    [viewDate]="viewDate" 
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    [locale]="locale"
                    [weekStartsOn]="weekStartsOn"
                    [excludeDays]="excludeDays"
                    (eventClicked)="eventClicked($event)"
                ></mwl-calendar-month-view>

                <mwl-calendar-week-view 
                *ngSwitchCase="CalendarView.Week" 
                [viewDate]="viewDate" 
                [events]="events" 
                [dayStartHour]="9"
                [dayEndHour]="17"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [excludeDays]="excludeDays"
                (eventClicked)="eventClicked($event)"
                ></mwl-calendar-week-view>

                <mwl-calendar-day-view 
                *ngSwitchCase="CalendarView.Day" 
                [viewDate]="viewDate" 
                [events]="events"
                [dayStartHour]="9"
                [dayEndHour]="17"
                [locale]="locale"
                (eventClicked)="eventClicked($event)"
                ></mwl-calendar-day-view>
            </span>
        </div>

        </div>
    </div>
</div>




