<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">
        <h1>Commandes</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date de création</th>
                        <th>Date de dépot</th>
                        <th>Date de retrait</th>
                        <th>Type de paiement</th>
                        <th>Total</th>
                        <th>ID Client</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>
                            <a routerLink="/admin/commandes/{{ order.id }}">{{ order.id }}</a>
                        </td>
                        <td>{{ order.createdDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.depositDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.retrievalDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.paymentType }}</td>
                        <td>{{ order.totalPrice | currency: 'EUR' }}</td>
                        <td>
                            <a routerLink="/admin/commandes"> {{ order.userId.id }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h2>Calendrier</h2>

        <div id="calendar-container">
            <div id="cal-buttons">
                <div id="cal-date-nav-buttons">
                    <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Précédent</button>
                    <button id="today" mwlCalendarToday [(viewDate)]="viewDate" >Aujourd'hui</button>
                    <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">Suivant</button>
                </div>

                <div id="cal-date-field">{{ viewDate | date: 'fullDate'}}</div> 
                <!-- {{ viewDate | calendarDate:(view + 'viewTitle') : 'en'}} -->

                <div id="cal-view-nav-buttons">
                    <button (click)="setView(CalendarView.Month)" id="month" >Mois</button>
                    <button (click)="setView(CalendarView.Week)" id="week" >Semaines</button>
                    <button (click)="setView(CalendarView.Day)" id="day" >Jours</button>
                </div>
            </div>

            <span [ngSwitch]="view">
                <mwl-calendar-month-view 
                    *ngSwitchCase="CalendarView.Month" 
                    [viewDate]="viewDate" 
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    [locale]="locale"
                    [weekStartsOn]="weekStartsOn"
                    [excludeDays]="excludeDays"
                ></mwl-calendar-month-view>

                <mwl-calendar-week-view 
                *ngSwitchCase="CalendarView.Week" 
                [viewDate]="viewDate" 
                [events]="events" 
                [dayStartHour]="9"
                [dayEndHour]="17"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [excludeDays]="excludeDays"
                ></mwl-calendar-week-view>

                <mwl-calendar-day-view 
                *ngSwitchCase="CalendarView.Day" 
                [viewDate]="viewDate" 
                [events]="events"
                [dayStartHour]="9"
                [dayEndHour]="17"
                [locale]="locale"
                ></mwl-calendar-day-view>
            </span>
            
        </div>

        
    </div>
</div>




