<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">
        <h1>Commandes</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date de création</th>
                        <th>Date de dépot</th>
                        <th>Date de retrait</th>
                        <th>Type de paiement</th>
                        <th>Total</th>
                        <th>ID Client</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>
                            <a routerLink="/admin/commandes/{{ order.id }}">{{ order.id }}</a>
                        </td>
                        <td>{{ order.createdDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.depositDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.retrievalDate | date: "dd/MM/YYYY" }}</td>
                        <td>{{ order.paymentType }}</td>
                        <td>{{ order.totalPrice | currency: 'EUR' }}</td>
                        <td>
                            <a routerLink="/admin/commandes"> {{ order.userId.id }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

