<!--Modal select service START-->

<div id="modal" class="modal" >
    <div class="modal-content">
        <a (click)="articleService.showModalArticle = false" class="close">&times;</a>
        <h2>{{ (articleService.getModalData() | async)?.name }} {{ (articleService.getModalData() | async)?.id }}</h2>
        <h4>Prix à l'article : {{ (articleService.getModalData() | async)?.price | currency: 'EUR'  }}</h4>

        <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">

            <div class="container-number-remark">

                <div class="nb-article">

                    <label for="quantity">Nombre d'article(s)</label>
                    <select formControlName="quantity" id="" [value]="1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="remark">
                    <label for="message">Des remarques ?</label>
                    <textarea formControlName="message" placeholder="Exemple: Il y a des perles fragiles sur ce vêtement, il y a une tâche d'huile sur le côté droit..." name="remark" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="container-select-service">
                <h3>Sélectionnez le/les services</h3>

                <div class="flex-container-select-service" *ngFor="let service of services">

                    <div class="select-service">
                        <div class="select-service-input-label">
                            <input (click)="selectService(service)" type="checkbox" formControlName="services">
                            <label for="services">{{ service.name }}
                            </label>
                        </div>
                        
                        <div class="price">
                            <span>{{ service.price | currency: 'EUR'  }}</span>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="container-btn">

                <a class="btn-cancel" (click)="articleService.showModalArticle = false">Annuler</a>

                <button  class="main-btn">Ajouter au panier</button>

                <div class="price">
                    <h3>Total : {{ calculateTotalPrice() | currency: 'EUR'  }}</h3>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Modal select service END-->