<p>dashboard works!</p>

<div class="admin-nav">
    <div class="admin-nav-item">
        <a routerLink="">Informations générales</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="">Articles</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="">Services</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="">Utilisateurs</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="">Commandes</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="">Informations générales</a>
    </div>
</div>



<h2>Créer un article</h2>

<form [formGroup]="createArticle" (ngSubmit)="onSubmit()">
    <div>
        <label for="">Nom</label>
        <input formControlName="name" type="text">
    </div>

    <div>
        <label for="">Prix</label>
        <input formControlName="price" type="number">
    </div>

    <div>
        <label for="description">Description</label>
        <textarea formControlName="description" id="" cols="30" rows="10">Décrivez l'article.</textarea>
    </div>

    <button class="btn btn-primary">Envoyer</button>
</form>