/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";


/*CALENDAR START */

.cal-week-view {
    border: 2px solid #63A4C7 !important;
    border-radius: 10px !important;
    padding: 10px 10px;
}

.cal-month-view {
    border: 2px solid #63A4C7 !important;
    border-radius: 10px !important;
    padding: 10px 10px;
}


/*CALENDAR END */

/* GLOBAL*/

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}


/*GLOBAL BTN START*/

.main-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #63A4C7;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    width: fit-content;
}

.main-btn:hover{
    cursor: pointer;
    color: #63A4C7;
    border: 3px solid #63A4C7;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.btn-cancel{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white;
    margin-bottom: 20px;
}

.btn-cancel:hover{
    background-color: white;
    color: black;
    border: 3px solid rgb(255, 0, 0);
    transition: all 0.5s ease-in-out;
}

/*GLOBAL BTN END*/


/*ADMIN SECTION START*/

.admin-page {
    display: flex;
}

.admin-nav {
    border-right: 2px solid #375DA5;
    background-color: #375DA5;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.admin-nav > .admin-nav-item {
    padding: 15px 30px;
    border-bottom: 1px solid white;
}

.admin-nav > .admin-nav-item > a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.admin-body-container {
    display: flex;
    flex-direction: column;
}

.admin-body-container > h1 {
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


th, td {
    border: 1px solid #dddddd;  /*#dddddd*/
    text-align: left;
    padding: 8px;
}

td > a > img {
    height: 20px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
td > a > img:hover {

    border-radius: 8px;
    background-color: #63A4C7;
}

th {
    background-color: #f2f2f2;
}
/*ADMIN SECTION END*/