<div class="admin-nav">
    <div class="admin-nav-item">
        <a routerLink="/admin/dashboard">Informations générales</a>
    </div>

    <div class="admin-nav-item"> <!-- Pour masquer les onglets aux employés *ngIf="isSuperAdmin" -->
        <a routerLink="/admin/articles">Articles</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="/admin/services">Services</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="/admin/utilisateurs">Utilisateurs</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="/admin/commandes">Commandes</a>
    </div>

    <div class="admin-nav-item">
        <a routerLink="/admin/mon-compte">Mes tâches</a>
    </div>
</div>