<div class="admin-page">
    <app-nav-admin></app-nav-admin>

    <div class="admin-body-container">
        <h1>Articles</h1>

        <div class="add-btn-title-container">
            <a routerLink="/admin/articles/creer-article" class="main-btn">Créer un article</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Prix</th>
                        <th class="small-col">Description</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of articles">
                        
                        <td>{{ article.id }}</td>
                        <td>{{ article.name }}</td>
                        <td>{{ article.price | currency: 'EUR' }}</td>
                        <td class="small-col-content">{{ article.description }}</td>
                        <td><img *ngIf="article.image" [src]="article.image" alt="Image"></td>
                        <td>
                            <a routerLink="/admin/articles/{{ article.id }}">
                                <img class="admin-icon-eye" src="../../../assets/INC/IMG/Icones/oeil.png" alt="">
                                Voir
                            </a>

                            <a routerLink="/admin/articles/{{ article.id }}/modifier-article">
                                <img class="admin-icon-eye" src="../../../assets/INC/IMG/Icones/oeil.png" alt="">
                                Modifier
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    
    </div>

</div>

